* {
    font-family: sans-serif;
    box-sizing: border-box;
}

main {
    max-width: 800px;
    margin: 0 auto;
}

nav {
    max-width: 800px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr auto auto auto auto;
    align-items: center;
    margin: 0 auto;
    gap: 20px;
}

footer {
    max-width: 800px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr auto auto auto;
    align-items: center;
    margin: 0 auto;
    gap: 20px;
}

a {
    color: #1fcc00;
    text-decoration: none;
}

label {
    display: block;
}

.dinos {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.dinos div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dinos img {
    max-width: 256px;
    margin-bottom: 20px;
}

.dinos a {
    display: block;
}

.error {
    color: #f00;
    display: block;
}
